teavm-tetris-addon/src/main/frontend/generated
cheerpj-tetris-addon/src/main/frontend/generated
teavm-tetris-addon/target
demo-app/node_modules
demo-app/target
cheerpj-tetris-addon/target
demo-app/src/main/frontend/generated
plain-java-tetris/target
tetris-lib/target
demo-app/src/main/frontend
gwt-tetris-addon/node_modules
gwt-tetris-addon/target
gwt-tetris-addon/src/main/frontend
